<!DOCTYPE html>
<html>
  <head>
    <title>RailsLongestWordGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h2 class="score">Longest word: </h2>
    </div>
    <div class="wrapper">
      <div class="inner-wrapper text-center">

        <%= yield %>

      </div>
    </div>
  </body>
</html>
